
header{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
 }
 
 html{
   background-color: lightgray;
 }
 
 #banniere{
    width: 100%;
    margin-bottom: 50px;
 }
 
 
 #active{
  background-color:gray;
 }
 
 
 nav {
    width: 100%;
    height: 50px;
    margin: 0;
    position: relative;
    background-color: black;
   display: flex;
   position: fixed;
   box-shadow: 8px 8px 6px rgb(96, 96, 96);

  }
   .navbar {
    width: 100%;
    height: 50px;
    padding: 0;
    margin: 0;
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
  }
   .navbar li {
    width: 10vw;
    padding: 0;
    margin: 0;
    float: left;
    text-align: center;
    list-style: none;
    font: normal bold 13px/1em Arial, Verdana, Helvetica;
    background-color: black;
  }
   .navbar .nava {
    padding: 18px 0;
    border-left: 1px solid #ccc9c9;
    text-decoration: none;
    color: white;
    display: block;
    flex-basis: 20%;
  }
  
  .navbar > li:hover > .nava:hover {
    background-color:darkgray;
  }
   
  .navbar li ul {
    display: none;
    height: auto;
    margin: 0;
    padding: 0;
  }
   .navbar li:hover ul {
    display: block;
  }
     
  .navbar li ul li {
    background-color:black;
  }
 
 
  .navbar li ul li .nava:hover {
    background-color: darkgray;
  }


  body{
    display: flex;
    flex-wrap: wrap;
 }
 

#test{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-left: 0px;
 }
 
 
 .li{
    flex-basis: 50%;
    display: flex;
    flex-wrap: wrap;
 }
 
 .s1{
    flex-basis: 100%;
    height: 20em;
    margin: 30px;
    border-radius: 10px;
    margin-left: 0px;
    /* background-color: #c7b299; */
    box-shadow: 15px 15px 20px #141929;
 }

#parcoursa{
   background-image:url(img/fond.webp);   
   background-size: cover;
 }

#parcoursc{
   background-image:url(img/fond4.jpg);   
   background-size: cover;
 }

#parcoursb{
   background-image:url(img/fond2.jpg);   
   background-size: cover;
 }

#parcoursd{
   background-image:url(img/fond3.avif);   
   background-size: cover;
 }



.white{
   color: white;
}
 #s2{
    flex-basis: 100%;
    height: 30em;
    border-radius: 10px;
    margin: 30px;
    margin-left: 40px;
    background-color:rgb(19, 14, 10) ;
    box-shadow: 8px 8px 4px grey;

 }
 
 #s2>p{
   color: white;
 }

 #s2>h1{
   color: white;
 }

 p{
    text-align: center;
 }
 
 
 h1{
    text-align: center;
 }
 



  #scroll_to_top img {
    width: 100px;
  } 


 
  #up-button{
	display: none;
	position: fixed;
    width: 25px;
    height: 25px;
    bottom: 80px;
    right: 90px;
}
#up-button.show{
	display: block;
}


 /* master parcours A */

#bodya{
  background-color: lightgray;
}

#s2a>img{
  margin-right: 100px;
  margin-top: 30px;
}

#s3a>img{
  margin-left: 75px;
}
#s4a>img{
  margin-left: 75px;
}
#s5a>img{
  margin-left: 75px;

}
.sa{
  display: flex;
  flex-wrap: wrap;
}

.sa>section{
  display: flex;
  flex-wrap: nowrap;
}

#s2a{
  background-color: white;
  margin-top: 50px;
  border-bottom: solid black ;
  border-bottom-width: 2px;
}

#s3a{
  background-color: white;
  border-bottom: solid black ;
  border-bottom-width: 2px;
}
#s4a{
  background-color: white;
  margin-bottom: 50px;
}



.masterimg{
  width: 25%;
}

#webimg{
  width: 25%;
}

#miage{
  width: 25%;
  height: 50%;
  margin-top: auto;
  margin-bottom: auto;
}

.ula{
  list-style-type: none;
}

/* carrousel */

.slider-1 {
  max-width: 50%;
  margin: 50px auto;
  overflow: hidden;
  border: 1px solid #f1f1f1;
  margin-top: 0px;
  max-height: 500px;
}



.slider-1 .slider {
  animation: slider-1 20s infinite ease-in-out;
  display: flex;

  /* Si on veut faire glisser vers la droite */
  /* Il faut aussi changer l'animation(transform) en valeurs positives */
  /* flex-direction: row-reverse; */
}

.slider-1 a {
  background: #000;
  flex-shrink: 0;
  width: 100%;
  text-align: center;
  font-size: 45px;
  color: #f1f1f1;
  height: 50%;
}


.slider-1 a img{
  width: 100%;
  height: 100%;
}

.slider-2 {
  width: 50%;
  overflow: hidden;
  border: 1px solid #f1f1f1;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  background: #000;

}
.slider-2 .slider {
  animation: slider-1 20s infinite ease-in-out;
  display: flex;
}

.slider-2 p {
  background: #000;
  flex-shrink: 0;
  width: 100%;
  text-align: center;
  font-size: 45px;
  color: #f1f1f1;
}


@keyframes slider-1 {
  0%,
  20% {
    transform: translateX(0);
  }
  25%,
  45% {
    transform: translateX(-100%);
  }
  50%,
  70% {
    transform: translateX(-200%);
  }
  75%,
  95% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(-400%);
  }
} 

/* en savoir plus */

.button{
  background-color: darkblue;
  border-radius: 20em;
  width: 150px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  box-shadow: 6px 6px 10px black;
}

.button:hover{
  background-color: blue;
}

.lienbouton{
  color: white;
  text-decoration: none;
  margin: 5px;
  font-weight: bold;
}