body{
    font-family: Helvetica; 
    font-weight: 400;
    background: #ecf0f1;
  }
  
  /*Carousel*/
  .carrousel{
    background: #ffffff;
    text-align: center;
    padding: 64px 0;
    height: 10em;
    max-width: 750px;
    margin: auto;
    position: relative;
    overflow: hidden;
  }
  .carrousel h1{
    margin: 0;
    margin-top: -27px;
    padding: 0;
    font-size: 25px;
    text-align: center;
    color: black;
  }
  .carrousel .slides{
    width: 400%;
    padding-left: 0;
    padding-top: 16px;
    overflow: hidden;
    list-style: none;
    position: relative;
  
    -webkit-transition: left .75s ease-out;
    -moz-transition: left .75s ease-out;
    -o-transition: left .75s ease-out;
    transition: left .75s ease-out;
  }
  .carrousel .slides li{
    width: 25%;
    position: relative;
    float: left;
  }
  .carrousel li p{
    margin-top: 0;  
  }
  .carrousel li q{
    max-width: 90%;
    margin: auto;
    color: #666666;
    font-size: 20px;
    font-weight: bold;
  }
  .carrousel li img{
    width: 90px;
    border-radius: 50%;
    margin-left: -24px;
    margin-right: 8px;
    vertical-align: middle;
  }
  .carrousel li span.author{
    margin-top: 8px;
    font-size: 19px;
    color: #777777;
    display: block;
  }
  .carrousel .slidesNavigation{
    display: block;
    list-style: none;
    text-align: center;
    bottom: 16px;
    /*--- Centering trick---*/
      /* Absolute positioning*/
      position: absolute; 
      /* Abosulte positioning*/
      width: 104px; /*This width  is the addition of the width of all the navigations dots - So in this case is   104 because the navigation dots are 26px (width:10px and 6px marginleft + 6 px marginright) and there are 4 dots so 4x26=104 */
      left: 50%; /*Centering de element*/
      margin-left: -52px; /*adjusting the centering by applying a negative margin of half of the width*/
  }
  .carrousel input{
    display: none;
  }
  .carrousel .slidesNavigation label{
    float: left;
    margin: 6px;
    display: block;
    height: 10px;
    width: 10px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: solid 2px #2980b9;
    font-size: 0;
  }
  /* You have to repeat this with each slide */
  #radio-1:checked ~ .slides{
    left: 0;
  }
  #radio-2:checked ~ .slides{
    left: -100%;
  }
  #radio-3:checked ~ .slides{
    left: -200%;
  }
  #radio-4:checked ~ .slides{
    left: -300%;
  }
  
  
  .carrousel .slidesNavigation label:hover{
     cursor: pointer;
  }
  /* You have to repeat this with each slide/dot */
  .carrousel #radio-1:checked ~ .slidesNavigation label#dotForRadio-1,
  .carrousel #radio-2:checked ~ .slidesNavigation label#dotForRadio-2,
  .carrousel #radio-3:checked ~ .slidesNavigation label#dotForRadio-3,
  .carrousel #radio-4:checked ~ .slidesNavigation label#dotForRadio-4{
    background: #2980b9;
  }