
html
{
   background-color: #d3cbc2;
}

header{
   display: flex;
   flex-wrap: wrap;
   flex-basis: 100%;
}


#banniere{
   width: 100%;
}


.active{
 background-color:green;
}


nav {
   width: 100%;
   height: 50px;
   margin: 0;
   position: relative;
   background-color: #3f2204;
 display: flex;
 }
  .navbar {
   width: 100%;
   height: 50px;
   padding: 0;
   margin: 0;
   position: absolute;
   display: flex;
   flex-wrap: nowrap;
 }
  .navbar li {
   width: 25vw;
   padding: 0;
   margin: 0;
   float: left;
   text-align: center;
   list-style: none;
   font: normal bold 13px/1em Arial, Verdana, Helvetica;
   background-color: #3f2204;
 }
  .navbar a {
   padding: 18px 0;
   border-left: 1px solid #ccc9c9;
   text-decoration: none;
   color: white;
   display: block;
   flex-basis: 20%;
 }
 
 .navbar > li:hover > a:hover {
   background-color: #5b3c11;
 }
  
 .navbar li ul {
   display: none;
   height: auto;
   margin: 0;
   padding: 0;
 }
  .navbar li:hover ul {
   display: block;
 }
    
 .navbar li ul li {
   background-color: #3f2204;
 }


 .navbar li ul li a:hover {
   background-color: #5b3c11;
 }

body {
   margin: 50px;
}

article> section {
   display: flex;
   flex-wrap: nowrap;
}  
article> img {
   width: 50%;
}  
article > div{
   text-align: center;
}
article > div > p{
   font-size: 1.2rem;
}
article > div > h2{
   text-align: left;
}

.img2{
   width: 70%;
   margin-top: 30px;
}
article>.poursuite{
   flex-wrap: warp;
}

.img3 img{
   flex-wrap: nowrap;
   height: 40%;
   width: 40%;

   
}
.img3 > a{
   flex-basis: 33%;
   text-align: center;
   margin-top: 30px;
   block-size: 30%;
}

.texte > p{
   flex-basis: 32%;
   text-align: center;
   padding: 10px;
   margin : 0px;
   margin-left: 10px;
   margin-right: 10px;
   margin-block: 10px; 
   border: solid black 1px;
   background-color: #af8e65;
}

.formation{
   border: solid black 2px;
}

.formation{
   background-color: #ede4db;
   margin-top: 30px;
}

.formation > .texte{
   background-color: #c7b299;
}

footer{
   background-color: #c7b299;
   display: flex;
   flex-wrap: nowrap;  
   margin-top: 50px;
}

footer section{
   display: flex;
   flex-wrap: wrap;
   flex-basis: 100%;
}
h4{
   flex-basis: 100%;
   text-align: center;
}
footer a {
margin: auto;
}

#scroll_to_top img {
   width: 100px;
 } 



 #up-button{
  display: none;
  /* éléments de style, vous pouvez mettre ce que vous voulez, ils ne sont là que pour l'exemple */
  position: fixed;
   width: 25px;
   height: 25px;
   bottom: 80px;
   right: 90px;
}
#up-button.show{
  display: block;
}